Django==2.2.28
django-filter==2.0.0
djangorestframework==3.9.0
imutils==0.5.1
Markdown==3.0.1
numpy==1.15.2
opencv-python==3.4.3.18
Pillow==5.3.0
psycopg2==2.7.6
pyinsane2==2.0.13
pyocr==0.5.3
pytz==2018.7
schedule==0.5.0
six==1.11.0
